<FilesMatch ".(htaccess)$">
 order allow,deny
 deny from all
</FilesMatch>
ErrorDocument 404 /focus/404.html
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [QSA,NC]
